<div id="profile" class="container">
  <div class="row justify-content-center">
  <div class="col-md-5">
    <div class="card">
      <h2 class="card-title text-center">Log In</h2>
        <div class="card-body py-md-4">
          <%- user %>
       </div>
      </div>
    </div>
  </div>
</div>
<link rel="stylesheet" type="text/css" href="/stylesheets/signin.css">