<div id="reset" class="container py-5">
  <div class="row justify-content-center">
  <div class="col-md-5">
    <div class="card">
      <h2 class="card-title text-center p-5">비밀번호 변경하기</h2>
        <div class="card-body py-md-4">

         <form _lpchecked="1"  <% if(reset == true) {%> action="/users/reset/<%=userId%>/<%=token%>" <% } else {%>  action="/users/reset" <% } %> method="post">
         <form _lpchecked="1" action="/users/reset/" method="post">
          <div class="d-flex justify-content-around">
            <div class="form-group col-md-9">
                 <% if(reset == false) {%>
                <input type="email" name="email" class="form-control" id="email" placeholder="email" >
                 <% } %>
                <% if(reset == true) {%>
                <input type="password" name="password" class="form-control my-2" id="passowrd" placeholder="비밀번호">
                <input type="password" name="password2" class="form-control" id="password2" placeholder="비밀번호 확인">
                <% } %>
            </div>
            <div class="form-group col-md-2"><button type="submit" class="h-100 w-100 reset-btn btn btn-primary">변경</button></div>
          </div>
         </form>
       </div>
      </div>
    </div>
  </div>
</div>
<script type='text/javascript'>
$(function(){
  if($('#message .modal-content .alert').text().length > 0) {
    messages($('#message .modal-content .alert').text());
    $('#message .modal-content .alert').remove();
  }
});
</script>
<!-- <link rel="stylesheet" type="text/css" href="/stylesheets/reset.css"> -->