<div id="manager" class="row">
  <div class="modal fade" id="validate_logs_sum" tabindex="-1" role="dialog" aria-labelledby="validate_logs_sum" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="validate_logs_Schema_name"></h5>
          <span class="modal-count"></span>
          <button type="button" class="modal-close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div style="min-height:500px;" class="modal-body overflow-auto">
        <table class="table table-hover">
          <thead class="thead-dark text-center">
            <tr>
              <th scope="col col-md-1">#</th>
              <th scope="col col-md-2">ProjectName</th>
              <th scope="col col-md-2">SchemaName</th>
              <th scope="col col-md-2">CreateDt</th>
              <th scope="col col-md-1">TotalCnt</th>
              <th scope="col col-md-1">ErrFileCnt</th>
              <th scope="col col-md-1">PassFileCnt</th>
              <th scope="col col-md-2">ErrorRatio</th>
            </tr>
          </thead>
          <tbody class="table_contents"></tbody>
        </table>
        </div>
        <div class="modal-footer d-flex">
          <button type="button" class="modal-close btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
  <div class="search col-lg-12 mx-auto">
    <div class="bg-white p-5 mt-5 col-md-4 rounded shadow mx-auto">
<form id="find">
    <div class="d-flex justify-content-around">
      <div class="form-group col-md-9 mr-1">
    <label for="schemaName">Schema Name</label>
    <input type="text" class="form-control form-control-underlined" name="schema_name"  id="schema_name" placeholder="Schema Name"/>
  </div>
    <div class="form-group col-md-2">
      <button type="submit" class="w-100 btn btn-primary">조 회</button>
    </div>
  </div>
</form>
</div>
<div class="resultoffindbyschema px-1 py-5 mt-5 invisible">
  <table class="table table-hover">
    <thead class="thead-dark text-center">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Project Name</th>
        <th scope="col">Schema Name</th>
        <th scope="col">Validation Rule</th>
        <th scope="col">Create Date</th>
        <th scope="col">Detail</th>
      </tr>
    </thead>
    <tbody class="table_contents"></tbody>
  </table>
</div>
</div>
</div>
<script src="./javascripts/jsonTree.js"></script>
<script src="./javascripts/schmanager.js"></script>
<link rel="stylesheet" type="text/css" href="./stylesheets/jsonTree.css">
<link rel="stylesheet" type="text/css" href="./stylesheets/manager.css">
