<div id="register" class="my-5">
<div class="insert d-flex col-md-6 justify-content-around mx-auto">
    <div class="form-group col-md-5">
      <label for="projectName" class="mb-2">Project Name</label>
      <input type="text" class="form-control" name="project_name" id="projectName" placeholder="Project Name"/ >
    </div>
  <div class="form-group col-md-5">
    <label for="schemaName" class="mb-2">Schema Name</label>
    <input type="text" class="form-control" name="schema_name" id="schemaName" placeholder="Schema Name"/ >
  </div>
</div>
  <div class="handleJson">
    <div class="template_selector my-3 me-3">
      <% var i=1;while(i < 4){ %>
         <a class="btn template-pop btn-secondary" data-temp="exam-<%=i%>"><%=i%>번 템플릿</a>
      <% i++; } %>
    </div>
    <div class="jsonEditor">
      <div class="editor">
        <div class="textarea" id="text-area1"></div>
        <div class="textarea" id="text-area2"></div>
      </div>
      <div class="bottom-btn d-flex flex-row justify-content-between">
        <div class="uploadForm">
          <form method="POST" enctype="multipart/form-data" id="uploadForm" class="d-flex align-items-center">
            <div class="form-group">
              <button id="uploadBtn" class="btn btn-primary">Upload a file</button>
              <input type="file" class="form-control-file" id="file" name="file" required>
            </div>
            <div id="filename" class="mx-4"></div>
          </form>
        </div>
        <div class="register">
          <button class="btn btn-primary" id="registerbtn">등 록</button>
        </div>
      </div>
    </div>
  </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.4.12/ace.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.4.12/mode-json.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.4.12/theme-chrome.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.4.12/theme-monokai.min.js"></script>
<script src="/javascripts/schregister.js"></script>
<link rel="stylesheet" type="text/css" href="/stylesheets/register.css">
