<div id="signin" class="container">
  <div class="row justify-content-center">
  <div class="col-md-5">
    <div class="card">
      <h2 class="card-title text-center">Log In</h2>
        <div class="card-body py-md-4">
         <form _lpchecked="1" action="/users/signin" method="post">
            <div class="form-group"><input type="email" name="email" class="form-control" id="email" placeholder="Email"></div>
            <div class="form-group"><input type="password" name="password" class="form-control" id="password" placeholder="Password"></div> 
            <div class="d-flex flex-row align-items-center justify-content-between">
              <a href="/users/signup">Sign Up</a>
              <a href="/users/reset">Forgot Password</a>
              <button type="submit" class="btn btn-primary">Sign In</button>
            </div>
         </form>
       </div>
      </div>
    </div>
  </div>
</div>
<script type='text/javascript'>
$(function(){
  if($('#message .modal-content .alert').text().length > 0) {
    messages($('#message .modal-content .alert').text());
    $('#message .modal-content .alert').remove();
  }
});
</script>
<link rel="stylesheet" type="text/css" href="/stylesheets/signin.css">