<div class="container">
    <div class="wrapper">
        <form method="post" name="Login_Form" class="form-signin">            <h3 class="form-signin-heading">Welcome Back! Please Sign In</h3>
              <hr class="colorgraph"><br>
              
              <input type="text" class="form-control" name="username" placeholder="Username" required="" autofocus="" />
              <input type="password" class="form-control" name="password" placeholder="Password" required=""/>            
             
              <button class="btn btn-lg btn-primary btn-block"  name="Submit" value="Login" type="button">Login</button>            
        </form>        
    </div>
</div>
<script>
    $('.btn').click(function(){

        var json = {
          'username': $("input[name='username']").val(),
          'password': $("input[name='password']").val()
        }
        $.ajax({
          type: 'POST',
          url: '/users/signin',
          dataType: 'json',
          data: JSON.stringify(json),
          async: true,
          processData: false,
          contentType: "application/json",
          success: function(res) {
            // location.href="./";
          },
          error: function(err){
            $('#message').html("<h3>"+err.message+"</h3>");
          }
        });
    })
</script>
<link rel="stylesheet" type="text/css" href="./stylesheets/index.css">