<div class="template_view">
	<div class="temp_nav">
		<div class="temp-1"></div>
		<div class="temp-2"></div>
		<div class="temp-3"></div>
	</div>
	<div class="temp">
		<textarea readonly id="selected_temp" />
	</div>
</div>
<script>
</script>
<link rel="stylesheet" type="text/css" href="./public/stylesheets/template.css">