#analyzer {
	position: relative;
	.badge-light {
		background-color: #fff;
		color: #000;
		font-size:.8rem;
	}
	.active {
		background-color:#fd7e14;
	}
	.toggle {
		position: relative;
		p { display:none;}
		span {
			position: absolute;
			right:0;
			top: 20px;
		}
	}
}