#manager {
  position: relative;
  .mode {
    position: absolute;
    top: 10px;
    left: 10px;
  }
  form {
    label {
      display: none;
    }
  }
  #validate_logs_sum {
    .modal-header {
      .modal-count {
        position: absolute;
        right: 60px;
      }
    }
  }
}
